.Card {
  background-color: #15263f;
  color: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
}

.Image {
  background-image: url(../../images/image-equilibrium.jpg);
  max-width: 302px;
  min-width: 150px;
  height: 302px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0.8rem;
  margin-bottom: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00fff8;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s;
}

.Image:hover::after {
  opacity: 0.4;
}
.Icon {
  opacity: 0;
  transition: opacity 0.3s;
}

.Image:hover .Icon {
  opacity: 1;
}
